<div class="container">
    <h1>Welcome {{name}} </h1>
    <div class="jumbotron">
<h4>
    Previous Transactions
</h4>
 

<table class="table">
    <thead>
      <tr>
        
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
       
        <td>{{transaction.amount}}</td>
        <td>{{transaction.typeOfTransaction}} </td>
        <td (click)= "delete(transaction)">delete</td>
      
      </tr>
     
    </tbody>
  </table>

</div>
</div>