<div class="bgcolor">
<div class="container"> 
    <div class="row">
    <h1>WELCOME  {{name}} </h1></div>
    <a routerLink="../history">View Transactions</a>
    <div class="jumbotron"> 
    <div class="row">
        <div class="col">
            <h2>Deposit</h2>
    <form [formGroup]="depositForm" (ngSubmit)="deposit()">
<table>
   
<tr>
<td>Account Number </td>
<td>
    <input formControlName="ac_num" type="text" id="acnod" name="accnum">
</td>
</tr>  
<tr *ngIf="getError('ac_num')" class="error"> enter a valid account number </tr>
                                 
<tr>
<td>PIN </td>
<td>
    <input formControlName="pin_num" type="text" id="pin" name="pinnum">
</td>
</tr>
<tr *ngIf="getError('pin_num')" class="error"> enter a valid pin number </tr>
<tr>
<td>Amount </td>
<td>
    <input formControlName="amount1" type="text" id="amountd" name="amountn">
</td>
</tr>
<td>
<!-- <input type="button" class="btn btn-primary" value="Deposit" id="bdeposit" (click)="deposit()"> -->
<button type="submit" class="btn btn-primary" value="deposit">Deposit</button>
</td>
</table>
<!-- {{msg}} -->
</form>
        </div>
        <div class="col">
            <h2>Withdrawal</h2>
            <form [formGroup]="withdrawForm" (ngSubmit)="withdrawal()">
            <table>
               
                <tr>
                    <td>Account Number </td>
                    <td>
                        <input formControlName="ac_numw" type="text" id="w_acno" name="acnumw">
                    </td>
                </tr>
                <tr *ngIf="getErrorw('ac_numw')" class="error"> enter a valid account number </tr>
                <tr>
                    <td>PIN </td>
                    <td>
                        <input formControlName="pin_numw" type="text" id="w_pin" name="pinw">
                    </td>
                </tr>
                <tr *ngIf="getErrorw('pin_numw')" class="error"> enter a pin pin number </tr>
                <tr>
                    <td>Amount </td>
                    <td>
                        <input formControlName="amount1w" type="text" id="w_amount" name="amountw">
                    </td>
                </tr>
               
                <td>
                <button type="submit" class="btn btn-primary" value="withdraw"> Withdraw</button>   
                </td>
                
            </table>
            <!-- {{dataservice.msgw}} {{dataservice.err_msg}} -->
        </form>

        </div>
    </div>
</div>

</div>
</div>